@model IEnumerable<Gundam>

<h2>Gunpla</h2>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Grade</th>
        <th>Built</th>
        <th>Rating</th>
    </tr>

    @foreach (var gunpla in @Model)
    {
        <tr>
            <td><a href = "/Gundam/ViewGunpla/@gunpla.GundamID">@gunpla.GundamID</a></td>
            <td>@gunpla.Name</td>
            <td>@gunpla.Price</td>
            <td>@gunpla.Grade</td>
            <td>@gunpla.Built</td>
            <td>@gunpla.Rating</td>
        </tr>
    }

</table>