@model Gundam

<!DOCTYPE html>

<html lang="en">
<head>
    <title>@Model.Name Details Page</title>
    <link rel="stylesheet" href="css/viewGundam.css"/>
    <style>
        .container img {
            width: 50%;
            height: auto;
            display: block;
            margin: 0 auto;
            padding-bottom: 50px;
        }
        .container h2 {
            text-align: center;
        }
        body {
            
        }
    </style>    
</head>

<body>
<div class="container">
    <h2>@Model.Name Informaion</h2>
    <img src="@Url.Content($"~/Images/{Model.GundamID}.webp")" alt="@Model.Name">
    <table class="table">
        <tr>
            <th>Gundam ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Grade</th>
            <th>Built</th>
            <th>Rating</th>
        </tr>
        <tr>
            <td>@Model.GundamID</td>
            <td>@Model.Name</td>
            <td>@Model.Price</td>
            <td>@Model.Grade</td>
            <td>@Model.Built</td>
            <td>@Model.Rating</td>
        </tr>
    </table>
    <div style="display: block">

    </div>
</div>
</body>
</html>
